* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica,sans-serif;
  }
.landing-nav{
    display: flex;
    justify-content: right;
    margin-top: 0;
    margin-right: 40px;
    padding-top: 30px;
}
.head-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.landing-nav img{
    max-height: 40px;
    margin-right: 15px;
   
}
.landing-nav h2{
    color: #BABD42;
    margin-top: 10px;
}
.header-logo{
    max-height:250px;
    margin-bottom: 30px;
}
.slogan{
    font-size: 40px;
    font-weight: bold;
    color: #BABD42;
    margin-bottom: 30px;
    
}
.header{
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../assets/images/background-landing1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
}
.landing-content{
    margin: 30px;
}
.area-name{
    display: flex;
    justify-content: space-between;
    margin-bottom:20px;
    
}
.see-all-btn{
    color:red ;
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
}
.resto-card{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.card{
    margin-right:40px ;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    cursor: pointer;
}
.resto-img{
    width: 250px;
    height: 350px;
    border-radius:10px;
    object-fit:cover;
    margin-bottom: 10px;
}
.not-showen{
    display: none;
}
.card:nth-child(1) , .card:nth-child(2), .card:nth-child(3),.card:nth-child(4) ,.card:nth-child(5){
    display: block;
}

@media (max-width:1025px){
    .card:nth-child(1) , .card:nth-child(2), .card:nth-child(3),.card:nth-child(4) ,.card:nth-child(5),.card:nth-child(6),.card:nth-child(7),.card:nth-child(8){
        display: block;
    }
    .header-logo{
        max-height:200px;
        margin-bottom: 30px;
    }
    .slogan{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .resto-img{
        width: 200px;
        height: 300px;
        border-radius:10px;
        object-fit:cover;
        margin-bottom: 10px;
    }
    .area-name>h1{
        font-size: 26px;
        
    }
    .see-all-btn{
        font-size: 26px;
    }
}

@media (max-width: 641px){
    .header-logo{
        max-height:100px;
        margin-bottom: 20px;
    }
    .slogan{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .resto-img{
        width: 125px;
        height: 225px;
        border-radius:10px;
        object-fit:cover;
        margin-bottom: 5px;
    }
    .area-name>h1{
        font-size: 16px;
        
    }
    .see-all-btn{
        font-size: 16px;
    }
   
}
@media (max-width: 300px){
    .header-logo{
        max-height:100px;
        margin-bottom: 20px;
    }
    .slogan{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .resto-img{
        width: 125px;
        height: 225px;
        border-radius:10px;
        object-fit:cover;
        margin-bottom: 5px;
    }
    .area-name>h1{
        font-size: 16px;
        
    }
    .see-all-btn{
        font-size: 10px;
    }
    .resto-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}





