* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.landing-nav{
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-right: 40px;
}
.head-content{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.header{
    background: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    position: relative;
}