* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0px 100px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.nav-items>li {
    margin-top: 40px;
    margin-right: 10px;
    font-weight: lighter;
}

.logo {
    margin: 10px 20px;
    height: 100%;
}

.profile-pic {
    max-height: 35px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    max-height: 500px;
    position: relative;
    margin: auto;
    margin-top: 30px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides>img {
    max-height: 500px;
    object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.resto-info-sec {
    display: flex;
    justify-content: space-between;
    margin: 50px 70px 0px;

}

.resto-info {
    display: flex;
}

.resto-logo {
    max-height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.rating{
    background-color: #82954B;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 24px;
    max-height:60px;
    margin-right: 50px;
}
.review-btns{
    display: flex;
    margin: 10px 70px;
}
.add-review{
    margin-right: 30px;
}
.about-resto{
    margin: 50px 70px;
}
.about-resto>h1{
    margin-bottom: 40px;
}
.about-resto-content{
    display: flex;
    justify-content: space-around;
}
.description{
    max-width: 400px;
}
.description>h2{
    margin-bottom: 20px;
}

.resto-contacts{
    border: 0.5px  black;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.contacts,.map-container{
    margin: 10px;
    line-height: 30px;
}

/* Utilities */
.btn {
    padding: 14px 10px;
    border: none;
    border-radius: 5px;
  }

  .btn-green {
    background-color: #82954B;
    color: #fff;
    font-weight: bold;
  }
  .logo, {
      cursor: pointer;
  }

  .btn:hover {
    cursor: pointer;
    background-color: #BABD42;
}


/* pop-up reviews */
/* popup signup form */
.review_pop_up {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Content Box */
  .add_review {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 30px;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
  }
  
  .add_review > div {
      width: 90%;
      text-align: center;
  }

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* --- */


.review_pop_up label {
    font-size: 20px;
    font-weight: bold;
}

/* Format dropdown */
select {
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #82954B;
    font-weight: bold;
    color: white;
    margin-left: 15px;
}

/* format text area */
textarea {
    resize: none;
    font-size: 20px;
    border: 2px solid #BABD42;
    border-radius: 10px;
    padding: 5px;
    width: 100%;
 }

 textarea:focus {
    outline: none;
    border: solid 3px #82954B;
}