* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Admin Page classes */

.container {
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #FFEF82;
}

.header > img {
    height: 100%;
}

.page {
    display: flex;
    flex-direction: row;
}

.side_bar {
    height: 100vh;
    width: 200px;
    background-color: #BABD42;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
}

.side_bar > div {
    width: 100%;
    font-size: 25px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 40px;
}

.side_bar > div:hover {
    background-color: #FFEF82;
    cursor: pointer;
    color: #82954B;
}

.current_page
{
    background-color: darkgreen;
}

.header > img {
    cursor: pointer;
}
