* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin: 0px 100px;
}

.nav-items {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.nav-items>li {
    margin-top: 40px;
    margin-right: 10px;
    font-weight: lighter;
}

.logo {
    margin: 10px 20px;
    height: 100%;
}
